# How to get Spotify API key: https://developer.spotify.com/dashboard
#
# Important: Redirect URI must be 127.0.0.1, not localhost!
#        (Spotify prohibited localhost since Nov 2025)

SPOTIPY_CLIENT_ID=...
SPOTIPY_CLIENT_SECRET=...
SPOTIPY_REDIRECT_URI=http://127.0.0.1:8888/callback

# your LLM
# which llm to use for selecting anchors: deepseek | ollama | mistral

LLM=deepseek

OLLAMA_API_KEY=ollama
OLLAMA_MODEL=gemma4:26b

DEEPSEEK_API_KEY=...
DEEPSEEK_MODEL=deepseek-v4-flash

MISTRAL_API_KEY=...
MISTRAL_MODEL=mistal-large-latest